spring:
  application:
    name: Api_Gateway
  cloud:
    gateway:
      routes:
        -id: auth-service
        uri: http://localhost:8082
server:
  port: 8081

eureka:
  client:
    healthcheck:
      enabled: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true


